.hideFees{
    display: none;
}
.coworkerOne{display: none;}
.coworkerTwo{display: none;}
.coworkerThree{display: none;}
.coworkerFour{display: none;}
.coworkerFive{display: none;}
.coworkerSix{display: none;}
.coworkerSeven{display: none;}
.coworkerEight{
    display: none;
}
.finalOne{display: none;}
.finalTwo{display: none;}
.finalThree{display: none;}
.finalFour{display: none;}
.finalFive{display: none;}
.finalSix{display: none;}
.finalSeven{display: none;}
.finalEight{display: none;}
#calcPizzaCost{display: none;}